In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

predicting the person's salary is above 100k or not based on the job and degree . So we use decision tree algorithm to split the dataset based on the company and after this level of splitting, we look into further categories after this split.The order in which you split the tree decides how well the algorithm is gonna work. Make sure the entropy is low in the splitting, entropy is the measure of randomness